; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block jump across bridge to skip ladders
{
    ; invisible block on right side
    "origin" "-12072 -11992 -18"
    "mins" "0 0 0"
    "maxs" "18 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block on left side
    "origin" "-12584 -11992 -18"
    "mins" "-26 0 0"
    "maxs" "0 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block hunters falling off and under map at end of map (confogl only)
{
    ; invisible block along back rocky section
    "origin" "-11872 -4626 1034"
    "mins" "-448 -238 -470"
    "maxs" "448 238 470"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- block SI getting permanently stuck in corner near SI ladder (confogl only)
{
    ; invisible block in corner near rocks
    "origin" "-11353 -4837 591"
    "mins" "-71 -45 -21"
    "maxs" "71 45 21"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; =====================================================