; =====================================================
; ==============  RANDOM ALT DETECTION  ===============
; =====================================================
add:
; only used to detect presence of hard path by Random
{
    "solid" "0"
    "rendermode" "10"
    "origin" "0 0 0"
    "angles" "0 0 0"
    "model" "models/props_mall/mall_mannequin_lhand.mdl"
    "classname" "prop_dynamic_override"
    "hammerid" "999999"
    "targetname" "random_detect_alt"
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block hang-climbing fences to get on roofs
{
    ; invisible block above left fence
    "origin" "586 -142 32"
    "angles" "0 28 0"
    "mins" "-8 -48 -262"
    "boxmins" "-8 -48 -262"
    "maxs" "8 48 262"
    "boxmaxs" "8 48 262"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above right fence
    "origin" "606 43 -47"
    "angles" "0 -15 0"
    "mins" "-4 -25 -187"
    "boxmins" "-4 -25 -187"
    "maxs" "4 25 187"
    "boxmaxs" "4 25 187"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block cheap hunter-jesus spot under a sign near first fence
{
    ; invisible block inside fence cubby hole
    "origin" "385 64 -313"
    "mins" "-15 -22 -63"
    "maxs" "15 22 63"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block survivors getting onto balconies and onto rooftops
{
    ; invisible block above left side balcony
    "origin" "-720 -128 -140"
    "mins" "-48 -192 -76"
    "maxs" "48 192 76"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above right side balcony
    "origin" "-1136 -512 196"
    "mins" "-48 -256 -253"
    "maxs" "48 256 253"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block survivors bhopping over metal fence to shortcut
{
    ; invisible block over metal fence
    "origin" "-1740 -1284 -134"
    "mins" "-32 -12 -82"
    "maxs" "32 12 82"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block balconies in street corner (zombie-jump accessible)
{
    ; invisible block (first balcony)
    "origin" "-737 -2048 -208"
    "mins" "0 0 0"
    "maxs" "65 256 150"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (second balcony)
    "origin" "-687 -2304 -176"
    "mins" "-518 -64 0"
    "maxs" "0 0 320"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block jesus spot on telephone
{
    ; invisible block above telephone
    "origin" "-1731 -2370 -224"
    "mins" "-37 -14 -153"
    "maxs" "37 14 153"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block pistol/melee falling into water through crack behind table
{
    ; invisible block along crack
    "origin" "676 662 -486"
    "mins" "-4 -150 -4"
    "maxs" "4 150 4"
    "boxmins" "-4 -150 -4"
    "boxmaxs" "4 150 4"
    "initialstate" "1"
    "BlockType" "4"
    "classname" "env_physics_blocker"
}
; --- prevent SI getting stuck in small hallway
{
    ; wooden plank propped up in hallway
    "solid" "6"
    "origin" "-2176 -2538 -320"
    "angles" "0 0 35"
    "model" "models/props_swamp/plank001b_192.mdl"
    "disableshadows" "1"
    "classname" "prop_dynamic"
}
; =====================================================


; =====================================================
; =================   RESTRICTIVE   ===================
; =====================================================
add:
; ------- block main street -- create point of no return jump
{
	; fence outside of bar - right
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1880 -2080 -374"
	"angles" "0 -7 0"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"classname" "prop_dynamic"
        "disableshadows" "1"
}
{
	; fence outside of bar - right -- block
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1902 -2076 -374"
	"angles" "0 -7 0"
	"model" "models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname" "prop_dynamic"
}
{
	; fence outside of bar - middle
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1883 -2188 -374"
	"angles" "0 1 0"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"classname" "prop_dynamic"
        "disableshadows" "1"
}
{
	; fence outside of bar - middle -- block
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1908 -2188 -374"
	"angles" "0 1 0"
	"model" "models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname" "prop_dynamic"
}
{
	; fence outside of bar (lower) - left - 1
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1881 -2272 -384"
	"angles" "0 -2 0"
	"model" "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname" "prop_dynamic"
        "disableshadows" "1"
}
{
	; fence outside of bar (lower) - left - 2
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1883 -2322 -384"
	"angles" "0 -2 0"
	"model" "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname" "prop_dynamic"
        "disableshadows" "1"
}
{
	; barricade block to "hold" fence
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1883 -2302 -374"
	"angles" "0 -2 0"
	"model" "models/props_fortifications/concrete_barrier001_128_reference.mdl"
	"classname" "prop_dynamic"
}
{
	; van (to allow survivors to jump over fence)
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1760 -2302 -377"
	"angles" "0 -88 0"
	"model" "models/props_vehicles/van.mdl"
	"classname" "prop_dynamic"
}
{
	; van -- glass
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-1760 -2302 -377"
	"angles" "0 -88 0"
	"model" "models/props_vehicles/van_glass.mdl"
	"classname" "prop_dynamic"
}
{
	; pickup after fence
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-2240 -2168 -378"
	"angles" "0 182 -1.5"
	"model" "models/props_vehicles/pickup_truck_2004.mdl"
	"classname" "prop_dynamic"
}
{
	; pickup after fence - glass
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-2240 -2168 -378"
	"angles" "0 182 -1.5"
	"model" "models/props_vehicles/pickup_truck_2004_glass.mdl"
	"classname" "prop_dynamic"
}
; ------- block off alley (this will break coop, I guess.. so add coop jumpability)
{
	; tarped pile to jump over coop-fence (if there)
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-2720 -2068 -370"
	"angles" "0 0 0"
	"model" "models/props_misc/standing_tarp_tall.mdl"
	"classname" "prop_dynamic"
}
{
	; cardboard box to help survivors jump back at this spot
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-2585 -1760 -330"
	"angles" "0 10 -10"
	"model" "models/props_junk/cardboard_box03.mdl"
	"classname" "prop_dynamic"
}
{
	; wood fence to block alley (Untalented, modified by Eraa)
        "targetname" "tabbernaut_full"
	"solid" "6"
	"origin" "-2080 -1400 -382"
	"angles" "0 90 0"
	"model" "models/props_urban/wood_fence001_256.mdl"
	"classname" "prop_dynamic"
}
; =====================================================